<?xml version="1.0"?>
<launch>

  <!-- send robot urdf to param server -->
  <include file="$(find ur5_pick_place)/launch/ur5.launch"/>

  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
    <arg name="sim" value="true"/>
    <arg name="limited" value="true"/>  
  </include>

  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>  
  </include>

</launch>
